.body_hot_comment .comment-content .card-comment-item .ava,
.media-left,
.is-6-widescreen .card-image {
  display: none;
}
.card {
  background-color: unset;
}
.navbar,
footer.footer {
  background-color: unset;
}
body:not(.night) .navbar:hover,
body:not(.night) .footer:hover,
body:not(.night) .card:hover,
body:not(.night) .pagination:hover,
body:not(.night) .post-navigation:hover {
  background-color: #deeafb;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);
}
.pagination,
.post-navigation {
  padding: 10px;
}
.pagination .pagination-link:not(.is-current),
.pagination .pagination-previous,
.pagination .pagination-next {
  background-color: rgba(255,255,255,0);
}
.timeline .media:last-child:after {
  background: unset;
}
.footer {
  box-shadow: 0px 4px 10px 10px rgba(0,0,0,0.05);
  padding: 3rem 1.5rem 2rem;
}
@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: unset;
  }
}
@media screen and (min-width: 769px) and (max-width: 1087px) {
  .card {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding: 7rem 1.5rem;
  }
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.font1_1 {
  font-size: 1.1rem;
}
