.night .g-ads-x {
  filter: brightness(0.6) !important;
}
.night .g-ads-y {
  filter: brightness(0.6) !important;
}
.night .cardm {
  color: unset;
}
.night .google-auto-placed {
  filter: brightness(0.6) !important;
}
@media screen and (max-width: 1087px) {
  .g-ads-x {
    display: none;
  }
}
.hljs-comment,
.hljs-quote {
  color: rgba(35,209,96,0.678) !important;
}
.pagination {
  padding: 10px;
}
.post-navigation {
  padding: 15px;
}
body:not(.night) .is-9-desktop .card-content.article:hover {
  background-color: unset;
  box-shadow: unset;
}
.content .gt-container .gt-avatar {
  display: none !important;
}
.content .gt-container .gt-comments {
  text-align: left;
}
.content .gt-container .gt-comment-like {
  right: unset !important;
  margin-left: 1% !important;
}
.social-share {
  text-align: center !important;
}
.content .gt-container .gt-comment-header {
  font-size: 0.875em;
  position: relative;
  display: inline-block;
  left: -6%;
  margin-bottom: 10px;
  padding: 0 10% 0 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 0 3px 3px 0;
  background-color: #deeafb;
}
.content .gt-container .gt-comment-content:hover {
  -webkit-box-shadow: unset;
  box-shadow: unset;
}
.content .gt-container .gt-comment-body {
  padding-left: 2%;
}
.night .content .gt-container .gt-comment-header {
  background-color: #151313;
}
