/* ---------------------------------
 *       Override CSS Framework
 * --------------------------------- */
html {
  font-size: 14px;
}
body {
  background-color: #f7f7f7;
}
body,
button,
input,
select,
textarea {
  font-family: "Ubuntu", "Roboto", "Open Sans", "Microsoft YaHei", sans-serif;
}
@media screen and (min-width: 1280px) {
  .is-1-column .container,
  .is-2-column .container {
    max-width: 1152px;
    width: 1152px;
  }
}
@media screen and (min-width: 1472px) {
  .is-2-column .container {
    max-width: 1344px;
    width: 1344px;
  }
  .is-1-column .container {
    max-width: 960px;
    width: 960px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding: 1.5rem 1rem;
  }
}
@media screen and (min-width: 769px) {
  .column-main.is-sticky,
  .column-left.is-sticky,
  .column-right.is-sticky,
  .column-right-shadow.is-sticky {
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0.75rem;
  }
  .column-right-shadow.is-sticky {
    top: 1.5rem;
  }
}
.tag.is-grey {
  background: #e7e7e7;
}
.card {
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);
}
.card + .card,
.card + .column-right-shadow {
  margin-top: 1.5rem;
}
.card.card-transparent {
  box-shadow: none;
  background: transparent;
}
.card .card-image {
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
img.thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.navbar-logo img,
.footer-logo img {
  max-height: 1.75rem;
}
.navbar-main {
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.navbar-main .navbar-menu,
.navbar-main .navbar-start,
.navbar-main .navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
  flex-shrink: 0;
}
.navbar-main .navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
  overflow-x: auto;
}
.navbar-main .navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-main .navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}
.navbar-main .navbar-item {
  display: flex;
  align-items: center;
  padding: 1.25rem 0.75rem;
}
.navbar-main .navbar-item.is-active {
  color: #3273dc;
  background-color: transparent;
}
@media screen and (max-width: 1087px) {
  .navbar-main .navbar-menu {
    justify-content: center;
    box-shadow: none;
  }
  .navbar-main .navbar-start {
    margin-right: 0;
  }
  .navbar-main .navbar-end {
    margin-left: 0;
  }
}
.footer {
  background: #fff;
}
.footer .field .button {
  background: transparent;
}
.widget .media {
  border: none;
}
.widget .media + .media {
  margin-top: 0;
}
.widget .menu-list li ul {
  margin-right: 0;
}
.widget .menu-list a.level {
  display: flex;
}
.pagination .pagination-link:not(.is-current),
.pagination .pagination-previous,
.pagination .pagination-next {
  background: #fff;
  border: none;
}
.pagination .pagination-link,
.pagination .pagination-previous,
.pagination .pagination-next {
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.post-navigation {
  justify-content: space-around;
}
.post-navigation .level-item {
  margin-bottom: 0;
}
.timeline {
  margin-left: 1rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  border-left: 1px solid #dbdbdb;
}
.timeline .media {
  position: relative;
}
.timeline .media:before,
.timeline .media:last-child:after {
  content: '';
  display: block;
  position: absolute;
  left: calc(-5px - 1.5rem);
}
.timeline .media:before {
  width: 9px;
  height: 9px;
  top: 1.3rem;
  background: #dbdbdb;
  border-radius: 50%;
}
.timeline .media:first-child:before {
  top: 0.3rem;
}
.timeline .media:last-child:after {
  top: calc(1.3rem + 9px);
  width: 9px;
  bottom: 0;
  background: #fff;
}
.timeline .media:first-child:last-child:after {
  top: calc(0.3rem + 9px);
}
.article .article-meta {
  margin-bottom: 0.5rem !important;
}
.article .content {
  font-size: 1.1rem;
}
.article .content blockquote.pullquote {
  float: right;
  max-width: 50%;
  font-size: 1.15rem;
  position: relative;
}
.article .content a img {
  margin: auto;
  display: block;
}
.rtl {
  direction: rtl;
}
.rtl .level .level-item:not(:last-child),
.rtl .level.is-mobile .level-item:not(:last-child) {
  margin-left: 0.75rem;
  margin-right: 0;
}
.donate {
  position: relative;
}
.donate .qrcode {
  display: none;
  position: absolute;
  z-index: 99;
  bottom: 2.5em;
  line-height: 0;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.2);
  overflow: hidden;
}
.donate .qrcode img {
  max-width: 140px;
}
.donate:hover .qrcode {
  display: block;
}
.donate:first-child:not(:last-child) .qrcode {
  left: -0.75rem;
}
.donate:last-child:not(:first-child) .qrcode {
  right: -0.75rem;
}
@media screen and (max-width: 768px) {
  #toc {
    display: none;
    position: fixed;
    margin: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
  }
  #toc-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0,0.7);
  }
  #toc.is-active,
  #toc-mask.is-active {
    display: block;
  }
}
/* ---------------------------------
 *         Custom modifiers
 * --------------------------------- */
.is-borderless {
  border: none;
}
.is-size-7 {
  font-size: 0.85rem !important;
}
.is-7by1 {
  padding-top: 42.8%;
}
.is-7by1 img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.is-overflow-x-auto {
  overflow-x: auto !important;
}
.is-flex-grow {
  flex-grow: 1 !important;
}
.is-flex-wrap {
  flex-wrap: wrap !important;
}
.is-flex-start {
  justify-content: start !important;
}
.is-flex-center {
  justify-content: center !important;
}
.is-flex-middle {
  align-items: center !important;
}
.has-order-1 {
  order: 1;
}
.has-order-2 {
  order: 2;
}
.has-order-3 {
  order: 3;
}
.has-mr-6 {
  margin-right: 0.5em !important;
}
.has-mb-6 {
  margin-bottom: 0.5em !important;
}
.has-mr-7 {
  margin-right: 0.25em !important;
}
.has-link-grey,
.has-link-black-ter {
  transition: 0.2s ease;
}
.has-link-grey:hover,
.has-link-black-ter:hover {
  color: #3273dc !important;
}
.has-link-grey {
  color: #7a7a7a !important;
}
.has-link-black-ter {
  color: #242424 !important;
}
@media screen and (max-width: 768px) {
  .has-text-centered-mobile {
    text-align: center !important;
  }
  .is-flex-center-mobile {
    justify-content: center !important;
  }
  .has-mt-5-mobile {
    margin-top: 1em !important;
  }
}
/* ---------------------------------
 *         Font icon fixes
 * --------------------------------- */
.fa,
.fab,
.fal,
.far,
.fas {
  line-height: inherit;
}
/* ---------------------------------
 *        Fix content elements
 * --------------------------------- */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 400;
}
.content h1 {
  font-size: 1.75em;
}
.content h2 {
  font-size: 1.5em;
}
.content h3 {
  font-size: 1.25em;
}
.content h4 {
  font-size: 1.125em;
}
.content h5 {
  font-size: 1em;
}
.content code,
.content pre {
  font-size: 0.85em;
  font-family: "Source Code Pro", monospace, "Microsoft YaHei";
}
.content code {
  color: #ff3860;
  background: transparent;
  padding: 0;
}
.content blockquote footer strong + cite {
  margin-left: 0.5em;
}
/* ---------------------------------
 *        Fix code highlight
 * --------------------------------- */
figure.highlight {
  padding: 0;
  width: 100%;
  position: relative;
  margin: 1em 0 1em !important;
}
figure.highlight pre,
figure.highlight table tr:hover {
  color: inherit;
  background: transparent;
}
figure.highlight table {
  width: auto;
}
figure.highlight pre {
  padding: 0;
  overflow: visible;
}
figure.highlight pre .line {
  line-height: 1.5rem;
}
figure.highlight figcaption,
figure.highlight .gutter {
  background: rgba(200,200,200,0.15);
}
figure.highlight figcaption {
  padding: 0.3em 0.75em;
  text-align: left;
  font-style: normal;
  font-size: 0.8em;
}
figure.highlight figcaption span {
  font-weight: 500;
  font-family: "Source Code Pro", monospace, "Microsoft YaHei";
}
figure.highlight figcaption a {
  float: right;
  color: #9a9a9a;
}
figure.highlight .gutter {
  text-align: right;
}
figure.highlight .tag,
figure.highlight .title,
figure.highlight .number,
figure.highlight .section {
  display: inherit;
  font: inherit;
  margin: inherit;
  padding: inherit;
  background: inherit;
  height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  min-width: inherit;
  border-radius: inherit;
}
figure.highlight .copy {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background: rgba(0,0,0,0.5);
}
figure.highlight:hover .copy {
  display: block;
}
.table-overflow {
  overflow-x: auto;
}
.table-overflow table {
  width: auto !important;
}
.table-overflow table th {
  word-break: keep-all;
}
/* ---------------------------------
 *            Fix Video
 * --------------------------------- */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ---------------------------------
 *        Fix Gist Snippet
 * --------------------------------- */
.gist table tr:hover {
  background: transparent;
}
.gist table td {
  border: none;
}
.gist .file {
  all: initial;
}
.about:not(body) {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 1.5rem;
  height: 2em;
  justify-content: center;
  line-height: 1;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: normal;
}
.about:not(body).record-time {
  background-color: #f5f9fe;
  color: #a4a4a4;
  font-size: inherit;
}
.about:not(body).record-content {
  margin-top: 5px;
  background-color: #f9f9f9;
  color: #3d3d3d;
  height: auto;
}
.content blockquote {
  background-color: #f5f5f5;
  border-left: 3px solid #6190e8;
  padding: 1em 1em;
  overflow: auto;
}
.content h2 {
  font-size: 1.8em;
  color: #03145f;
}
.content h3 {
  font-size: 1.3em;
  color: #052dad;
}
.content h4 {
  font-size: 1.2em;
  color: #3a71fd;
}
.time-axis-main {
  width: 90%;
  margin: 30px auto;
}
.time-axis {
  margin: 0;
  padding: 0;
  position: relative;
}
.time-axis:before {
  content: '';
  position: absolute;
  left: 93px;
  top: 15px;
  width: 1px;
  height: 100%;
  background-color: #e4e4e4;
}
.time-axis-item {
  list-style: none;
  padding-left: 150px;
  position: relative;
  line-height: 45px;
  font-size: 14px;
  color: #141414;
}
.time-axis-date {
  position: absolute;
  left: -55px;
  top: 0;
  color: #666;
  font-style: italic;
}
.time-axis-title {
  background-color: #f5f5f5;
  border-left: 3px solid #6190e8;
  padding: 0.8em 1em;
  font-weight: bold;
  line-height: 25px;
}
.time-axis-achievement {
  background-color: #f5f5f5;
  border-left: 3px solid #e89b44;
  padding: 0em 1em;
  font-style: italic;
  margin-bottom: 30px;
}
.time-axis-date span {
  position: absolute;
  right: -25px;
  top: 35%;
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid #ccc;
  border-radius: 100%;
  background-color: #fff;
}
.time-axis-date span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 7px;
  height: 7px;
  margin: auto;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 100%;
}
.time-axis-item:first-child .time-axis-date span {
  border-color: #48beb2;
}
.time-axis-item:first-child .time-axis-date span:after {
  background-color: #48beb2;
  border-color: #48beb2;
}
.cardm {
  border-left: 5px solid #6190e8;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1);
  color: #4a4a4a;
  display: block;
  padding: 0.5rem;
  margin-top: 15px;
}
.card .text-desc {
  overflow-x: auto;
}
.cardm .ava {
  width: 5rem !important;
  height: 5rem !important;
  margin: 0 !important;
  margin-right: 1em !important;
  border-radius: 40px;
}
.cardm img {
  float: left;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
.cardm img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
.cardm:hover {
  transform: scale(0.995);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);
}
.video-player .fa-video-camera:before {
  content: "\f03d";
}
.video-player .fa-music:before {
  content: "\f001";
}
.video-player.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.video-player .d-title {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
#video-list {
  overflow-y: auto;
  height: 300px;
}
